<div>
  Exposure Value
</div>

<div>
  <h2>Basic (Result of Camera)</h2>
  <div>
    <h3>Aperture</h3>
    <select [(ngModel)]="valueBasic.Aperture" (ngModelChange)="onCal()">
      <option *ngFor="let item of apertureValue" [ngValue]="item.text">{{item.text}}</option>
    </select>
  </div>

  <div>
    <h3>Shutter Speed</h3>
    <select [(ngModel)]="valueBasic.Shutter" (ngModelChange)="onCal()">
      <option *ngFor="let item of shutterSpeed" [ngValue]="item.text">{{item.text}}</option>
    </select>
  </div>

  <div>
    <h3>ISO/ASA</h3>
    <select [(ngModel)]="valueBasic.ISO" (ngModelChange)="onCal()">
      <option *ngFor="let item of isoValue" [ngValue]="item.value">{{item.text}}</option>
    </select>
  </div>

  <!-- <div>
    <h3>Neutral Density (ND Filter)</h3>
    <select [(ngModel)]="valueBasic.Stop">
      <option *ngFor="let item of stopValue" [ngValue]="item.value">{{item.text}}</option>
    </select>
  </div> -->
</div>

<div>
  <h2>Final (Result of You want)</h2>
  <div>
    <h3>Aperture</h3>
    <select [(ngModel)]="valueFinal.Aperture" (ngModelChange)="onCal()">
      <option *ngFor="let item of apertureValue" [ngValue]="item.text">{{item.text}}</option>
    </select>
  </div>
  <div>
    <h3>ISO/ASA</h3>
    <select [(ngModel)]="valueFinal.ISO" (ngModelChange)="onCal()">
      <option *ngFor="let item of isoValue" [ngValue]="item.value">{{item.text}}</option>
    </select>
  </div>
  <div>
    <h3>Neutral Density (ND Filter)</h3>
    <select [(ngModel)]="valueFinal.Stop" (ngModelChange)="onCal()">
      <option *ngFor="let item of stopValue" [ngValue]="item.value">{{item.text}}</option>
    </select>
  </div>
</div>

<div>
  <h2>Result</h2>

  <div>
    <h3>Exposure Value (EV100)</h3>
    {{valueResult.EV}}
  </div>
  <div>
    <h3>Light Value (EV{{valueResult.ISO}})</h3>
    {{valueResult.LV}}
  </div>
  
  <div>
    <h3>Exposure Time Final</h3>
    {{valueResult.ET}}
  </div>
  <div>
    <h3>Exposure Time with ND Filter</h3>
    <p>Filter blocks {{valueResult.Stop}} stops of light</p>
    {{valueResult.ETND}}
  </div>
</div>