<div class="w3-row w3-center">
    <div class="w3-col s12 w3-padding">
        <div class="w3-panel w3-light-grey w3-border w3-border-red w3-hover-border-green w3-leftbar w3-rightbar w3-topbar w3-bottombar" (drop)="handleDrop($event)"
            (dragover)="handleAllowDrop($event)" style="height: 150px;line-height: 150px;cursor: pointer;" (click)="handleClick($event)">
            <label class="w3-xxxlarge">Click or Drop to upload</label>
        </div>
        <input class="w3-hide" type="file" accept="image/*" (change)="handleFileInput($event)" />
    </div>
    <div class="w3-col m6 s12 w3-padding">
        <canvas class="w3-border" #canvasHistogram width="250" height="150"></canvas>
    </div>
    <div class="w3-col m6 s12 w3-padding">
        <canvas class="w3-border" #canvasHistogramColor width="250" height="150"></canvas>
    </div>
    <div class="w3-col s12 w3-padding">
        <img [src]="dataFileUpload" (load)="handleProcessImg($event)" style="max-width: 100vw;">
    </div>
</div>